<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Open Weather 1.1</title>	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="app.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<body>
	<div class="container" ng-app="temperatureApp" ng-controller="temperatureController">
		<h1 style="text-align: center;font-family: 'Pacifico', cursive;">Get Weather Report of any cities in India</h1>
		<div class="row" >
				
		</div>	
		<div class="row" style="margin: 5%;">
		<div class="col-md-4 col-md-offset-3">
			<div class="form-group">
			<input type="text" class="form-control" ng-model="cityName" placeholder="Enter your City Name">
		</div>		
		</div>	
		<div class="col-md-4 ">
			<div class="form-group">
			<button type="button" class="btn btn-primary" ng-click="getTemperature(cityName)">Get Weather Report</button>
		</div>		
		</div>
				
		</div>

		<div class="row" style="margin-left: 5%">
			<div class="col-md-3 col-md-offset-1">
				<div class="panel panel-primary">
			      <div class="panel-heading"><span class="fa fa-map-marker fa-2x pull-right" aria-hidden="true"></span>Latitude & Longitude</div>
			      <div class="panel-body">
			      <strong>Latitude : </strong>{{lat}} <br>
			      <strong>Longitude : </strong>{{long}} 
			      </div>
			    </div>
			</div>
			
			<div class="col-md-3">
				<div class="panel panel-primary">
			      <div class="panel-heading"> <span class="fa fa-2x fa-sun-o pull-right" aria-hidden="true"></span>Sunrise & Sunset</div>
			      <div class="panel-body">
			      <strong>Sunrise :</strong>{{sunrise |date:'HH:mm:ss Z'}}<br>
			      <strong>Sunset  :</strong>{{sunset |date:'HH:mm:ss Z'}}
			      </div>
			    </div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-primary">
			      <div class="panel-heading"> <span class="fa fa-2x fa-tint pull-right" aria-hidden="true"></span> Humidity & Pressure</div>
			      <div class="panel-body">
			      <strong>Humidity :</strong>{{humidity}}<br>
			      <strong>Pressure :</strong>{{pressure}}
			      </div>
			    </div>
			</div>
		</div>

		<div class="row" style="margin-left: 5%">
			<div class="col-md-3 col-md-offset-1">
				<div class="panel panel-primary">
			      
			      <div class="panel-heading"><span class="fa fa-2x fa-thermometer-quarter pull-right" aria-hidden="true"></span>Temparature</div>
			      <div class="panel-body">
			      	<strong>Temparature : </strong>{{temp| number :2}}<br>
			      	<strong>Maximum Temperature : </strong>{{temp_max | number :2}}<br>
			      	<strong>Minimum Temperature : </strong>{{temp_min | number :2}}
			      </div>
			    </div>
			</div>
			
			<div class="col-md-3 ">
				<div class="panel panel-primary">
			      <div class="panel-heading"><span class="fa fa-2x fa-location-arrow pull-right" aria-hidden="true"></span>Wind</div>
			      <div class="panel-body"><br>
			      <strong>Wind Degree :</strong>{{wind_degree}}<br>
			      <strong>Wind Speed :</strong>{{wind_speed}}<br>
			      </div>
			    </div>
			</div>
			<div class="col-md-3 ">
				<div class="panel panel-primary">
			      <div class="panel-heading"> <span class="fa fa-2x fa-cloud pull-right" aria-hidden="true"></span> Clarity</div>
			      <div class="panel-body"><br>
			      <strong>Visibility :</strong>{{visibility}}<br>
			      <strong>Description :</strong>{{weather_description}}
			      </div>
			    </div>
			</div>
		</div>

	</div>
</body>
</html>